<label for="">Server Name</label>
<!-- <input type="text"class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" [(ngModel)]="serverName">
<p>{{serverName}}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->

<p *ngIf="serverCreated;else noserver">Server was created,Server name s{{serverName}}</p>
<ng-template #noserver >No Server was created</ng-template>
<div>
  <app-server *ngFor="let server of servers"></app-server>
  
</div>